/unit1/BasicOperations/nbproject/private/
/workshops/unit1/WSOoperations/BassicOperations/nbproject/private/
/workshops/unit1/WSOoperations/BassicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/Isosceles trapezoid area/nbproject/private/
/assignments/unit1/HW02/Isosceles trapezoid area/build/
/assignments/unit1/HW02/isosceles trapezoid area (double)/nbproject/private/
/assignments/unit1/HW02/isosceles trapezoid area (double)/build/
/assignments/unit1/HW02/Isosceles TrapeZoid Area (float)/nbproject/private/
/assignments/unit1/HW02/Isosceles TrapeZoid Area (float)/build/
/assignments/unit1/HW02/Isoceles trapezoid area (short)/nbproject/private/
/assignments/unit1/HW02/Isoceles trapezoid area (short)/build/
/assignments/unit1/HW02/TALLER/nbproject/private/
/assignments/unit1/HW02/WSO4basicOperators/nbproject/private/
/workshops/Basic Operators/nbproject/private/
/workshops/Basic Operators/build/
/workshops/WSO4BasicOperators/nbproject/private/
/workshops/WSO4BasicOperators/build/
/workshops/unit1/FP02_controlStatament/build/
/workshops/unit1/FP02_controlStatament/nbproject/private/
/workshops/unit1/HW02/Isoceles trapezoid area (short)/build/
/workshops/unit1/HW02/Isoceles trapezoid area (short)/nbproject/private/
/workshops/unit1/HW02/Isosceles TrapeZoid Area (float)/build/
/workshops/unit1/HW02/Isosceles TrapeZoid Area (float)/nbproject/private/
/workshops/unit1/HW02/Isosceles trapezoid area/build/
/workshops/unit1/HW02/Isosceles trapezoid area/nbproject/private/
/workshops/unit1/HW02/TALLER/nbproject/private/
/workshops/unit1/HW02/WSO4basicOperators/nbproject/private/
/workshops/unit1/HW02/isosceles trapezoid area (double)/build/
/workshops/unit1/HW02/isosceles trapezoid area (double)/nbproject/private/
/workshops/unit1/WSO4BasicOperators/build/
/workshops/unit1/WSO4BasicOperators/nbproject/private/
/workshops/WS05/nbproject/private/
/workshops/WSO5Siteration/nbproject/private/
/workshops/unit1/WSO5Siteration/build/
/workshops/WSO5Siteration/build/
/assignments/HW07 - Iterations/nbproject/private/
/workshops/HW07 - Iterations/nbproject/private/
/workshops/HW07 - Iterations/build/
/workshops/WS06/nbproject/private/
/workshops/WSO7Menus/nbproject/private/
/workshops/unit1/HW07 - Iterations/build/
/workshops/unit1/HW07 - Iterations/nbproject/private/
/workshops/WS07Menus/nbproject/private/
/workshops/WS07Menus/build/
/workshops/unit1/HW07Menu/build/
/workshops/unit1/HW07Menu/nbproject/private/
/assignments/JavaApplication21/nbproject/private/
/assignments/JavaApplication21/build/
/assignments/JavaApplication22/nbproject/private/
/assignments/a/nbproject/private/
/assignments/HW-04 Menus/nbproject/private/
/assignments/HW-04 Menus/build/
/assignments/HWO4Menues/nbproject/private/
/assignments/HWO4Menues/build/
/EXAM 1/LEMALEMA AULIOMARTIN/nbproject/private/
/EXAM 1/LEMALEMA AULIOMARTIN/build/
/EXAM 1/exam.Unit.lema.MartinQ11/nbproject/private/
/EXAM 1/exam.Unit.lema.MartinQ11/build/
/EXAM 1/FLOW AND ROTATIONAL SLIP/nbproject/private/
/EXAM 1/FLOW AND ROTATIONAL SLIP/build/
/FlowAndRotationalSlipGP/build/
/FlowAndRotationalSlipGP/nbproject/private/
/ExamQ11sOLUTION/nbproject/private/
/ExamQ11sOLUTION/build/
/workshops/unit2/WSO8DeBugging/nbproject/private/
/workshops/unit2/WSO8DeBugging/build/
/assignments/Unit2/HW08-FactorialNumber/nbproject/private/
/assignments/Unit2/HW08-FactorialNumber/build/
/assignments/Unit2/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09-EmbeddedStructures/build/
/workshops/unit2/WS10functions/nbproject/private/
/workshops/unit2/WS10functions/build/
/assignments/Unit2/HW10-Functions/nbproject/private/
/assignments/Unit2/HW10-Functions/build/
/workshops/unit2/WS11-functions/nbproject/private/
/workshops/unit2/WS11-functions/build/
/workshops/unit2/Hw11EmbeddedStructures/nbproject/private/
/workshops/unit2/Hw11EmbeddedStructures/build/
/workshops/unit2/WS11- Functions/nbproject/private/
/workshops/unit2/WS11- Functions/build/
/assignments/Unit2/Hw11-Recursions/nbproject/private/
/assignments/Unit2/Hw11-Recursions/build/
/assignments/Unit2/HW1-improved-group-project/nbproject/private/
/assignments/Unit2/HW1-improved-group-project/build/
/assignments/Unit2/HW11-improved-group-project/build/
/assignments/Unit2/HW11-improved-group-project/nbproject/private/
/assignments/Unit2/Hw11-improved-group-project-/nbproject/private/
/assignments/Unit2/Hw11-improved-group-project-/build/
/assignments/Unit2/HW11-Improved-Group-Work/nbproject/private/
/assignments/Unit2/HW11-Improved-Group-Work/build/
/assignments/Unit2/WS12.Libraries/nbproject/private/
/assignments/Unit2/WS12.Libraries/build/
/assignments/Unit2/W12-IVA/nbproject/private/
/assignments/Unit2/W12-IVA/build/
/assignments/Unit2/Hw12-Foreign-Currency-Outflow-Tax/nbproject/private/
/assignments/Unit2/Hw12-Foreign-Currency-Outflow-Tax/build/
/assignments/Unit2/Hw12-Income-Tax/nbproject/private/
/assignments/Unit2/HW12-Value-Added-Tax/nbproject/private/
/assignments/Unit2/HW12-Value-Added-Tax/build/
/assignments/Unit2/Hw12-Income-Tax/build/
/assignments/Unit2/Hw12-Income-Tax/dist/
/assignments/Unit2/HW12Taxes/HW12-Value-Added-Tax/build/
/assignments/Unit2/HW12Taxes/HW12-Value-Added-Tax/nbproject/private/
/assignments/Unit2/HW12Taxes/Hw12-Foreign-Currency-Outflow-Tax/build/
/assignments/Unit2/HW12Taxes/Hw12-Foreign-Currency-Outflow-Tax/nbproject/private/
/assignments/Unit2/HW12Taxes/Hw12-Income-Tax/build/
/assignments/Unit2/HW12Taxes/Hw12-Income-Tax/dist/
/assignments/Unit2/HW12Taxes/Hw12-Income-Tax/nbproject/private/
/assignments/Unit2/ws13-Task/nbproject/private/
/assignments/Unit2/ws13-Task/build/
/assignments/Unit2/WS14 Arrays/FarmSimulator/nbproject/private/
/assignments/Unit2/WS14 Arrays/FarmSimulator/build/