/unit1/BasicOperations/nbproject/private/
/workshops/unit1/WSOoperations/BassicOperations/nbproject/private/
/workshops/unit1/WSOoperations/BassicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/Isosceles trapezoid area/nbproject/private/
/assignments/unit1/HW02/Isosceles trapezoid area/build/
/assignments/unit1/HW02/isosceles trapezoid area (double)/nbproject/private/
/assignments/unit1/HW02/isosceles trapezoid area (double)/build/
/assignments/unit1/HW02/Isosceles TrapeZoid Area (float)/nbproject/private/
/assignments/unit1/HW02/Isosceles TrapeZoid Area (float)/build/
/assignments/unit1/HW02/Isoceles trapezoid area (short)/nbproject/private/
/assignments/unit1/HW02/Isoceles trapezoid area (short)/build/
/assignments/unit1/HW02/TALLER/nbproject/private/
/assignments/unit1/HW02/WSO4basicOperators/nbproject/private/
/workshops/Basic Operators/nbproject/private/
/workshops/Basic Operators/build/
/workshops/WSO4BasicOperators/nbproject/private/
/workshops/WSO4BasicOperators/build/
/workshops/unit1/FP02_controlStatament/build/
/workshops/unit1/FP02_controlStatament/nbproject/private/
/workshops/unit1/HW02/Isoceles trapezoid area (short)/build/
/workshops/unit1/HW02/Isoceles trapezoid area (short)/nbproject/private/
/workshops/unit1/HW02/Isosceles TrapeZoid Area (float)/build/
/workshops/unit1/HW02/Isosceles TrapeZoid Area (float)/nbproject/private/
/workshops/unit1/HW02/Isosceles trapezoid area/build/
/workshops/unit1/HW02/Isosceles trapezoid area/nbproject/private/
/workshops/unit1/HW02/TALLER/nbproject/private/
/workshops/unit1/HW02/WSO4basicOperators/nbproject/private/
/workshops/unit1/HW02/isosceles trapezoid area (double)/build/
/workshops/unit1/HW02/isosceles trapezoid area (double)/nbproject/private/
/workshops/unit1/WSO4BasicOperators/build/
/workshops/unit1/WSO4BasicOperators/nbproject/private/
/workshops/WS05/nbproject/private/
/workshops/WSO5Siteration/nbproject/private/
/workshops/unit1/WSO5Siteration/build/
/workshops/WSO5Siteration/build/
/assignments/HW07 - Iterations/nbproject/private/
/workshops/HW07 - Iterations/nbproject/private/
/workshops/HW07 - Iterations/build/
/workshops/WS06/nbproject/private/
/workshops/WSO7Menus/nbproject/private/
/workshops/unit1/HW07 - Iterations/build/
/workshops/unit1/HW07 - Iterations/nbproject/private/
/workshops/WS07Menus/nbproject/private/
/workshops/WS07Menus/build/
/workshops/unit1/HW07Menu/build/
/workshops/unit1/HW07Menu/nbproject/private/