/unit1/BasicOperations/nbproject/private/
/workshops/unit1/WSOoperations/BassicOperations/nbproject/private/
/workshops/unit1/WSOoperations/BassicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/